* {
  padding: 0;
  margin: 0; }

.container {
  display: grid;
  padding: 2rem;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row; }

.mainabout .ordenes, .mainabout .contactarme, .mainabout .titulos {
  list-style: none;
  padding: 0;
  list-style-type: none;
  text-align: center; }
  .mainabout .ordenes a, .mainabout .contactarme a, .mainabout .titulos a {
    padding: 1px;
    text-decoration: none;
    color: maroon; }
    .mainabout .ordenes a:hover, .mainabout .contactarme a:hover, .mainabout .titulos a:hover {
      zoom: 110%; }

.bodyindex {
  background-image: url("https://images7.alphacoders.com/108/thumb-1920-1081776.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.bodycontacto {
  background-color: black;
  background-image: url("https://preview.redd.it/4ixw21xcxvb51.png?auto=webp&s=1a7ca0c75143639c5ef8d694c3f84eb17cf49c83");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top; }

.bodyabout {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.bodyinfo {
  background-image: url("https://i.pinimg.com/originals/2a/2a/25/2a2a250c1c28611dc86a166050b60a7a.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

header .logotipo {
  zoom: 8%;
  opacity: 90%; }

.mainindex {
  text-align: center; }
  .mainindex h1 {
    font-family: 'Bebas Neue'; }
  .mainindex h2 {
    font-family: 'Lobster'; }
  .mainindex .btn-primary {
    margin: 20px;
    width: 10vw;
    align-self: center; }
  @media (max-width: 731px) {
    .mainindex .btn-primary {
      width: 20vw; } }
  @media (max-width: 476px) {
    .mainindex .btn-primary {
      width: 30vw; } }
  @media (max-width: 437px) {
    .mainindex h1 {
      font-size: 50px;
      text-align: center; }
    .mainindex h2 {
      text-align: center; } }
  @media (min-width: 438px) {
    .mainindex h1 {
      display: flex;
      justify-content: space-evenly;
      height: 25vh;
      align-items: center;
      font-size: 100px; }
    .mainindex h2 {
      display: flex;
      justify-content: space-evenly;
      height: 25vh;
      align-items: flex-start; } }
  @media (min-width: 576px) {
    .mainindex {
      margin: 40px; } }

.maincontacto {
  height: 90vh;
  text-align: center; }
  .maincontacto h1 {
    font-family: 'Bebas Neue';
    margin: 5rem;
    color: white; }

.mainabout {
  font-size: larger;
  width: 85vw;
  max-width: 700px;
  margin: auto; }

.container {
  grid-template-areas: "Logo Logo Logo" "Premisa Premisa Plataformas" ". . ."; }

.Logo0 {
  border: solid 2px white;
  grid-area: Logo;
  background-image: url("https://i.ytimg.com/vi/8i23-QWPIzs/maxresdefault.jpg");
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.Logo1 {
  border: solid 2px white;
  grid-area: Logo;
  background-image: url("../../img/tit1.jpg");
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.Logo2 {
  border: solid 2px white;
  grid-area: Logo;
  background-image: url("../../img/tit2.jpg");
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.Logo3 {
  border: solid 2px white;
  grid-area: Logo;
  background-image: url("../../img/tit3.jpg");
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.LogoCV {
  border: solid 2px white;
  grid-area: Logo;
  background-image: url("../../img/titcv.jpg");
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.Logo4 {
  border: solid 2px white;
  grid-area: Logo;
  background-image: url("../../img/tit4.jpg");
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.Logo5 {
  border: solid 2px white;
  grid-area: Logo;
  background-image: url("../../img/tit5.jpg");
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.Logo6 {
  border: solid 2px white;
  grid-area: Logo;
  background-image: url("../../img/tit6.jpg");
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.Logo7 {
  border: solid 2px white;
  grid-area: Logo;
  background-image: url("../../img/tit7.jpg");
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.Logo8 {
  border: solid 2px white;
  grid-area: Logo;
  background-image: url("../../img/tit8.jpg");
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.Premisa {
  padding: 1rem;
  grid-area: Premisa;
  background-color: black;
  color: white;
  border: solid 2px white; }

.Plataformas {
  vertical-align: middle;
  text-align: center;
  padding: 2rem;
  grid-area: Plataformas;
  background-color: black;
  color: white;
  border: solid 2px white; }

@media (max-width: 767px) {
  .container {
    height: 210vh;
    display: grid;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "Logo Logo Logo" "Premisa Premisa Premisa" "Plataformas Plataformas Plataformas" ". . ."; } }

@media (min-width: 768px) {
  .container {
    height: 130vh; }
  .Logo0, .Logo1, .Logo2, .Logo3, .LogoCV, .Logo4, .logo5, .logo6, .logo6, .logo7, .logo8 {
    height: 40vh; } }

footer {
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, #3f3d3d 78.9%); }

@media (min-width: 320px) {
  footer .grilla .dos {
    height: 10vh;
    color: white;
    display: flex !important;
    justify-content: space-around; }
  footer .ig {
    zoom: 150%; }
    footer .ig:hover {
      zoom: 200%; }
  footer .tw {
    zoom: 150%; }
    footer .tw:hover {
      zoom: 200%; }
  footer .fb {
    zoom: 150%; }
    footer .fb:hover {
      zoom: 200%; } }
