%orden_contacto_titulos{
    list-style: none;
    padding: 0;
    list-style-type: none;
    text-align: center;
    a{
        padding: 1px;
        text-decoration: none;
        color: maroon;
        &:hover{zoom:110%};
    }
}