.bodyindex{
    background-image: url('https://images7.alphacoders.com/108/thumb-1920-1081776.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}
.bodycontacto{
    background-image: url('https://preview.redd.it/4ixw21xcxvb51.png?auto=webp&s=1a7ca0c75143639c5ef8d694c3f84eb17cf49c83'); 
    background-repeat: no-repeat;
}