.bodyindex{
    background-image: url('https://images7.alphacoders.com/108/thumb-1920-1081776.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}
.bodycontacto{
    background-color: black;
    background-image: url('https://preview.redd.it/4ixw21xcxvb51.png?auto=webp&s=1a7ca0c75143639c5ef8d694c3f84eb17cf49c83'); 
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
}
.bodyabout{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bodyinfo{
    background-image: url('https://i.pinimg.com/originals/2a/2a/25/2a2a250c1c28611dc86a166050b60a7a.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}