footer{
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}
@media(min-width: 320px){
    footer{
        .grilla{
            .dos{
                height: 10vh;
                color: white;
                display: flex !important;
                justify-content: space-around;
            }
        }
        .ig{
            zoom: 150%;
            &:hover{zoom:200%};
        }
        .tw{
            zoom: 150%;
            &:hover{zoom:200%};
        }
        .fb{
            zoom: 150%;
            &:hover{zoom:200%};
        }
    } 
}


