//INDEX.HTML
.mainindex{
    h1{font-family: 'Bebas Neue';}
    h2{font-family: 'Lobster';}
    text-align: center;
    .btn-primary{
        margin: 20px;
        width: 10vw;
        align-self: center;
    }
    @media(max-width: 731px) {
        .btn-primary{
            width: 20vw;
        }
    }
    @media(max-width: 476px) {
        .btn-primary{
            width: 30vw;
        }
    }
    @media(max-width: 437px){
        h1{
            font-size: 50px;
            text-align: center;
        }
        h2{
            text-align: center;
        }
    }
    @media(min-width: 438px){
        h1{
            display: flex;
            justify-content: space-evenly;
            height: 25vh;
            align-items: center;
            font-size: 100px;
        }
        h2{
            display: flex;
            justify-content: space-evenly;
            height: 25vh;
            align-items: flex-start;
        }
    }
    @media(min-width: 576px){
        margin: 40px;
    }
}
//CONTACTO.HTML
.maincontacto{
    h1{
        font-family: 'Bebas Neue';
        margin: 5rem;
        color: white;
    }
    height: 90vh;
    text-align: center;
}
//ABOUT.HTML
.mainabout{
    font-size: larger;
    width: 85vw;
    max-width: 700px;
    margin: auto;
    .ordenes, .contactarme, .titulos{@extend %orden_contacto_titulos};
}